<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light " style="background-color: lightblue;">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link nav-bar" href="#!/dashboard">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link nav-bar" href="#!/addDevice">Add Device</a>
            </li>
        </ul>
    </nav>
    <!-- <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" ng-submit="addDevice()" >
                            <h3 class="text-center text-info" style="font-weight: bold">Add Device</h3>
                            <div class="form-group">
                                <label for="name" class="text-info">Device Name:</label><br>
                                <input type="text" name="name" ng-model="name" id="name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="text" class="text-info">State:</label><br>
                                <input type="text" name="state"  ng-model="state" id="state" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Save Changes">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>  -->
    <div class="row" style="padding: 10%">
            
        <div class="col-xs-12  col-md-12 col-sm-12 col-lg-2 align-center">
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 54rem; padding: 1%; margin-top: 1%">
                <div class="card-body">
                    <form id="login-form" class="form" ng-submit="addDevice()" >
                            <h3 class="text-left" style="font-weight:bold;color:#f44336;">Add Device</h3>
                            <div class="form-group">
                                <label for="name" style="color: #828486;font-weight:bold">Device Name:</label><br>
                                <input type="text" name="name" ng-model="name" id="name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="text" style="color: #828486;font-weight:bold">State:</label><br>
                                <input type="text" name="state"  ng-model="state" id="state" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-primary btn-md" value="Save Changes">
                            </div>
                        </form>
                </div>
            </div>
        </div>
    
    </div>
</div>
    
<style>
    .nav-bar{
        font-weight: bolder;
        font-size: 100%
    }
    #login .container #login-row #login-column #login-box {
        margin-top: 12px;
        max-width: 600px;
        height: 520px;
        border: 1px solid #9C9C9C;
        box-shadow: antiquewhite;
        background-color: #EAEAEA;
    }
    #login .container #login-row #login-column #login-box #login-form {
        padding: 30px;
    }
    #login .container #login-row #login-column #login-box #login-form #register-link {
        margin-top: -85px;
    }
</style>